* {
	font-family: sans-serif;
	font-size: 12px;
}

html, body {
	height: 100%;
	width: 100%;
}

.CenterBox {
	margin: 0 auto;
	height: 100%;
	width: 500px;
}

.body {
	height: 93%;
	width: 500px;
	background-color: #CDCDCB;
	position: relative;
}

.whiteboxone {
	background-color: white;
	height: 30%;/*give these a static height, make the page better*/
	width: 80%;
	position: absolute;
	top: 3%;
	left: 50px;
}

.textbox {
	margin: 5%;
	text-align: justify;
}

.redbut {
	height: 30px;
	width: 60px;
	background-color: #CC0000;
	border: 0.5px solid grey;
	position: relative;
	left: 20px;
	display: inline-block;
}

.bluebut {
	height: 30px;
	width: 60px;
	background-color: skyblue;
	border: 0.5px solid grey;
	position: relative;
	left: 25px;
	display: inline-block;
}

.redbut p, .bluebut p {
	font-size: 16px;
	color: white;
	text-align: center;
	margin: 5px;
}

.whiteboxtwo {
	background-color: white;
	height: 60%; /*give these a static height, make the page better*/
	width: 80%;
	position: absolute;
	top: 36%;
	left: 50px;
}

.imgbox {
	height: 60%;
	width:90%;
	background-color: #595953; 
	margin: 5%;
	display: table;
}

.imgbox p {
	font-size: 32px;
	color: white;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.footer { /*make this fixed*/
	background-color: #595953;
	height: 7%;
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.applebut{
	position: absolute;
	right: 130px;
	top: 10px;
}

.googlebut {
	position: absolute;
	right: 60px;
	top: 10px;
}

a {
	font-family: sans-serif;
	color: white;
	text-decoration: none;
	font-size: 12px;
}

a:link {
	color: white;
}

a:hover {
	font-weight: bold;
}

a:visited {
	color: lightgrey;
}


